# Data Pre-processing

## 1. Importing Raw Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 기본 골자 + 맨 앞 Column 세팅용
def df_index(index_name):
    #불필요한 상부의 데이터 행 삭제. 때문에 연도가 표시된 행의 첫 세 셀이 비어있음(각각 Unnamed: 0, 1, 2) 
    #excel 수 배열을 python 수 배열로 바꾸는 코드: print(*range(start, end, 1), sep=', ')
    index = pd.read_excel('data/index/{}.xls'.format(index_name), skiprows = [0, 1, 2, 3, 4])
    index['Unnamed: 2'] = index['Unnamed: 2'] + index['Unnamed: 0'] #Name을 KIS+Name으로 교체
    index.set_index('Unnamed: 2', inplace=True) #KIS+Name을 기본 index로 사용(다 빈 셀 때문에...)
    index = index[['2010/Annual', '2011/Annual', '2012/Annual', '2013/Annual','2014/Annual', '2015/Annual', '2016/Annual', '2017/Annual', '2018/Annual', '2019/Annual', '2020/Annual']] #year/Annual 형식
    index.columns=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
    index = pd.DataFrame(index.drop('NameKIS').stack(dropna=False)) #두번째 행의 붕 뜬 Name과 Kis 삭제 + 결측치 처리
    index.columns=[index_name] #제목에 맞춘 열 생성
    index.reset_index(inplace=True) #기본 인덱스 리셋
    index.rename(columns = {'Unnamed: 2' : '기업명'}, inplace = True) #메인이 될 인덱스명 설정
    index.rename(columns = {'level_1' : '년도'}, inplace = True)
    return index

# year/Annual
def df_index1(index_name):
    index = pd.read_excel('data/index/{}.xls'.format(index_name), skiprows = [0, 1, 2, 3, 4])
    index['Unnamed: 2'] = index['Unnamed: 2'] + index['Unnamed: 0'] 
    index.set_index('Unnamed: 2', inplace=True) 
    index = index[['2010/Annual', '2011/Annual', '2012/Annual', '2013/Annual','2014/Annual', '2015/Annual', '2016/Annual', '2017/Annual', '2018/Annual', '2019/Annual', '2020/Annual']] #year/Annual 형식
    index.columns=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
    index = pd.DataFrame(index.drop('NameKIS').stack(dropna=False)) 
    index.columns=[index_name] 
    index.reset_index(inplace=True) 
    return index

# year
def df_index2(index_name):
    index = pd.read_excel('data/index/{}.xls'.format(index_name), skiprows = [0, 1, 2, 3, 4])
    index['Unnamed: 2'] = index['Unnamed: 2'] + index['Unnamed: 0']
    index.set_index('Unnamed: 2', inplace=True)
    index = index[['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']] #year 형식
    index = pd.DataFrame(index.drop('NameKIS').stack(dropna=False))
    index.columns=[index_name]
    index.reset_index(inplace=True)
    return index

In [3]:
매출액 = df_index('매출액') #매출액만 맨 앞에 기업명-년도로 잡고, 나머지는 임시 default column명으로 설정

당기순이익 = df_index1('당기순이익')
매출액영업이익률 = df_index1('매출액영업이익률')
매출채권회전율 = df_index1('매출채권회전율')
부채비율 = df_index1('부채비율')
영업활동현금흐름 = df_index1('영업활동현금흐름')
유동비율 = df_index1('유동비율')
자기자본순이익률 = df_index1('자기자본순이익률')
자산총계 = df_index1('자산총계')
재고자산회전율 = df_index1('재고자산회전율')
종업원수 = df_index1('종업원수')
종업원수증가율 = df_index1('종업원수증가율')
영업활동현금흐름이자보상비율 = df_index1('영업활동현금흐름이자보상비율')
감가상각율 = df_index1('감가상각율')
금융비용_매출액비율 = df_index1('금융비용_매출액비율')
오류수정및회계정책변경 = df_index1('오류수정및회계정책변경')
유동자산 = df_index1('유동자산')
유형자산 = df_index1('유형자산')
총자산증가율 = df_index1('총자산증가율')
매출액증가율 = df_index1('매출액증가율')
판매비와관리비 = df_index1('판매비와관리비')
장기매출채권대손충당금 = df_index1('장기매출채권대손충당금')
매출채권 = df_index1('매출채권')
매출채권대손충당금 = df_index1('매출채권대손충당금')
장기매출채권 = df_index1('장기매출채권')
ROA = df_index1('ROA')

감사법인 = df_index2('감사법인')
감사의견 = df_index2('감사의견')
신용평점 = df_index2('신용평점')

In [4]:
data = pd.concat([매출액, 당기순이익, 매출액영업이익률, 매출채권회전율, 부채비율, #리스트 합치기
                영업활동현금흐름, 유동비율, 자기자본순이익률, 자산총계, 재고자산회전율, 영업활동현금흐름이자보상비율, 
                종업원수, 종업원수증가율, 감가상각율, 금융비용_매출액비율, 오류수정및회계정책변경, 유동자산, 유형자산, 
                총자산증가율, 매출액증가율, 판매비와관리비, 장기매출채권대손충당금, 매출채권, 매출채권대손충당금,
                장기매출채권, ROA, 감사법인, 감사의견, 신용평점], axis = 1)
data

,기업명,년도,매출액,Unnamed: 2,level_1,당기순이익,Unnamed: 2,level_1,매출액영업이익률,Unnamed: 2,...,ROA,Unnamed: 2,level_1,감사법인,Unnamed: 2,level_1,감사의견,Unnamed: 2,level_1,신용평점
0,청우화학(주)000083,2010,5005091000,청우화학(주)000083,2010,NaN,청우화학(주)000083,2010,3.06,청우화학(주)000083,...,5.78,청우화학(주)000083,2010,NaN,청우화학(주)000083,2010,NaN,청우화학(주)000083,2010,5
1,청우화학(주)000083,2011,5547721000,청우화학(주)000083,2011,NaN,청우화학(주)000083,2011,3.72,청우화학(주)000083,...,6.87,청우화학(주)000083,2011,NaN,청우화학(주)000083,2011,NaN,청우화학(주)000083,2011,4
2,청우화학(주)000083,2012,6387805000,청우화학(주)000083,2012,NaN,청우화학(주)000083,2012,4.97,청우화학(주)000083,...,9.57,청우화학(주)000083,2012,NaN,청우화학(주)000083,2012,NaN,청우화학(주)000083,2012,4
3,청우화학(주)000083,2013,6353868000,청우화학(주)000083,2013,NaN,청우화학(주)000083,2013,13.01,청우화학(주)000083,...,20.61,청우화학(주)000083,2013,NaN,청우화학(주)000083,2013,NaN,청우화학(주)000083,2013,3
4,청우화학(주)000083,2014,6897317000,청우화학(주)000083,2014,NaN,청우화학(주)000083,2014,15.21,청우화학(주)000083,...,20.95,청우화학(주)000083,2014,NaN,청우화학(주)000083,2014,NaN,청우화학(주)000083,2014,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318687,(주)메디라인액티브코리아Y32604,2016,15311754000,(주)메디라인액티브코리아Y32604,2016,NaN,(주)메디라인액티브코리아Y32604,2016,9.46,(주)메디라인액티브코리아Y32604,...,20.41,(주)메디라인액티브코리아Y32604,2016,NaN,(주)메디라인액티브코리아Y32604,2016,NaN,(주)메디라인액티브코리아Y32604,2016,5
318688,(주)메디라인액티브코리아Y32604,2017,18627175000,(주)메디라인액티브코리아Y32604,2017,NaN,(주)메디라인액티브코리아Y32604,2017,10.29,(주)메디라인액티브코리아Y32604,...,5.94,(주)메디라인액티브코리아Y32604,2017,NaN,(주)메디라인액티브코리아Y32604,2017,NaN,(주)메디라인액티브코리아Y32604,2017,6
318689,(주)메디라인액티브코리아Y32604,2018,22755938000,(주)메디라인액티브코리아Y32604,2018,NaN,(주)메디라인액티브코리아Y32604,2018,9,(주)메디라인액티브코리아Y32604,...,17.67,(주)메디라인액티브코리아Y32604,2018,NaN,(주)메디라인액티브코리아Y32604,2018,NaN,(주)메디라인액티브코리아Y32604,2018,5
318690,(주)메디라인액티브코리아Y32604,2019,27419993000,(주)메디라인액티브코리아Y32604,2019,1712602000,(주)메디라인액티브코리아Y32604,2019,8.22,(주)메디라인액티브코리아Y32604,...,15.8,(주)메디라인액티브코리아Y32604,2019,NaN,(주)메디라인액티브코리아Y32604,2019,감사미필,(주)메디라인액티브코리아Y32604,2019,5
318691,(주)메디라인액티브코리아Y32604,2020,28979475000,(주)메디라인액티브코리아Y32604,2020,1728057000,(주)메디라인액티브코리아Y32604,2020,6.94,(주)메디라인액티브코리아Y32604,...,12.22,(주)메디라인액티브코리아Y32604,2020,한울회계법인,(주)메디라인액티브코리아Y32604,2020,한정(감사범위제한),(주)메디라인액티브코리아Y32604,2020,4

In [5]:
data.drop(['level_1'], axis = 1, inplace = True) #합치는 과정에서 중간의 겹치는 열 삭제
data.drop(['Unnamed: 2'], axis = 1, inplace = True)
data

,기업명,년도,매출액,당기순이익,매출액영업이익률,매출채권회전율,부채비율,영업활동현금흐름,유동비율,자기자본순이익률,...,매출액증가율,판매비와관리비,장기매출채권대손충당금,매출채권,매출채권대손충당금,장기매출채권,ROA,감사법인,감사의견,신용평점
0,청우화학(주)000083,2010,5005091000,NaN,3.06,4.06,88.63,NaN,154.57,11.39,...,4.22,473794000,NaN,1131665000,11431000,191252000,5.78,NaN,NaN,5
1,청우화학(주)000083,2011,5547721000,NaN,3.72,4.77,73.44,NaN,179.11,12.4,...,10.84,531046000,NaN,1169129000,11809000,178238000,6.87,NaN,NaN,4
2,청우화학(주)000083,2012,6387805000,NaN,4.97,5.53,65.12,NaN,203.14,16.18,...,15.14,791606000,NaN,1118903000,11302000,3623000,9.57,NaN,NaN,4
3,청우화학(주)000083,2013,6353868000,NaN,13.01,4.92,53.64,NaN,240.93,32.69,...,-0.53,685558000,NaN,1437747000,14523000,NaN,20.61,NaN,NaN,3
4,청우화학(주)000083,2014,6897317000,NaN,15.21,4.71,54.85,NaN,156.8,32.34,...,8.55,663762000,NaN,1460703000,14755000,NaN,20.95,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318687,(주)메디라인액티브코리아Y32604,2016,15311754000,NaN,9.46,6.9,329.38,NaN,135.24,90.42,...,51.54,1884831000,NaN,2732633000,27602000,NaN,20.41,NaN,NaN,5
318688,(주)메디라인액티브코리아Y32604,2017,18627175000,NaN,10.29,5.28,285.79,NaN,178.41,24.04,...,21.65,2679740000,NaN,4249821000,42927000,NaN,5.94,NaN,NaN,6
318689,(주)메디라인액티브코리아Y32604,2018,22755938000,NaN,9,5.47,235.55,NaN,219.69,63.15,...,22.17,3671922000,NaN,3992972000,40333000,NaN,17.67,NaN,NaN,5
318690,(주)메디라인액티브코리아Y32604,2019,27419993000,1712602000,8.22,5.51,204.8,433804000,178.89,50.14,...,20.5,5063362000,NaN,5910729000,NaN,NaN,15.8,NaN,감사미필,5
318691,(주)메디라인액티브코리아Y32604,2020,28979475000,1728057000,6.94,4.81,201.65,1880193000,254.43,37.02,...,5.69,5613370000,NaN,6149909000,NaN,NaN,12.22,한울회계법인,한정(감사범위제한),4

### 변동 함수 설정

##### 당기: 현재의 회계연도
##### 전기: 직전년의 회계년도

#### (당기-전기)/전기

In [6]:
def fluctuation_1(df):
    변동_idx = df.copy()
    변동_idx = 변동_idx.loc[:, '2010':'2020'] # main index
    for i in range(len(df.columns)-1):
        변동_idx[df.columns[i+1]] =\
        (df[df.columns[i+1]]-df[df.columns[i]])/df[df.columns[i]]
    return 변동_idx

#### 당기/전기

In [7]:
def fluctuation_2(df):
    변동_idx = df.copy()
    변동_idx = 변동_idx.loc[:, '2010':'2020']
    for i in range(len(df.columns)-1):
        변동_idx[df.columns[i+1]] =\
        df[df.columns[i+1]]/df[df.columns[i]]
    return 변동_idx

#### 당기-전기

In [8]:
def fluctuation_3(df):
    변동_idx = df.copy()
    변동_idx = 변동_idx.loc[:, '2010':'2020']
    for i in range(len(df.columns)-1):
        변동_idx[df.columns[i+1]] =\
        df[df.columns[i+1]]-df[df.columns[i]]
    return 변동_idx

## 2. Setting Values

### 1) 주요왜곡표시 지표

#### 매출채권회전율변동(ARTOpc)

In [9]:
data.매출채권회전율 = pd.to_numeric(data.매출채권회전율) #숫자형으로 바꾸기
매출채권회전율_idx = data.pivot_table(columns='년도', index = '기업명', values='매출채권회전율', aggfunc='mean', dropna=False) #년도 열 데이터를 행 데이터로 만들기, NaN 포함
매출채권회전율_변동_idx = fluctuation_1(매출채권회전율_idx)
매출채권회전율_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,8.54,0.345433,-0.372498,-0.217753,-0.145390,0.275934,0.339837,-0.297330,0.067358,0.224919,-0.216645
(유)건향개발I57907,NaN,NaN,0.476190,NaN,NaN,6.992941,1.131292,-0.451381,-0.706949,-0.469072,-0.011327
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,4.528571,-0.387597,-0.333333,NaN,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.251670,-0.225979,0.243678
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.040816
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,7.55,-0.018543,-0.021592,0.017931,0.025745,-0.221929,0.000000,0.106961,0.073620,-0.041429,0.175857
히스보험중개(주)197675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
히타치금속한국(주)041866,4.04,0.042079,0.016627,-0.105140,-0.190601,0.154839,0.636872,0.134812,0.066165,-0.101551,0.078493
히타치하이테크코리아(주)380165,7.10,-0.053521,-0.087798,0.314845,-0.052109,-0.091623,-0.034582,-0.083582,0.337134,0.181486,0.009278
힐티코리아(주)389471,4.83,0.078675,0.107486,0.100520,0.182677,0.009321,-0.005277,0.025199,-0.027167,0.013298,-0.001312

#### 재고자산회전율변동(APTOpc)

In [10]:
data.재고자산회전율 = pd.to_numeric(data.재고자산회전율)
재고자산회전율_idx = data.pivot_table(columns='년도', index = '기업명', values='재고자산회전율', aggfunc='mean', dropna=False)
재고자산회전율_변동_idx = fluctuation_1(재고자산회전율_idx)
재고자산회전율_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,13.29,-0.102333,-0.041911,0.363080,0.345956,0.228422,-0.198370,-0.062470,0.013430,-0.015800,-0.009839
(유)건향개발I57907,NaN,NaN,NaN,NaN,NaN,NaN,-0.862079,-0.187572,2.679380,1.632373,0.079725
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.507400,-0.040673,-0.057018
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052117
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,18.11,-0.247929,-0.019824,0.358052,0.244346,-0.144504,0.023834,0.022773,-0.255319,-0.124917,0.109339
히스보험중개(주)197675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
히타치금속한국(주)041866,4.44,-0.094595,-0.027363,0.227621,-0.035417,0.328294,0.430894,0.082955,-0.049318,-0.066225,0.314421
히타치하이테크코리아(주)380165,19.62,0.594292,-0.147379,0.208474,0.133106,-0.077492,-0.064411,0.050127,0.163142,-0.441558,-0.533953
힐티코리아(주)389471,6.34,-0.072555,0.022109,0.006656,0.142149,-0.086831,-0.003170,-0.007949,-0.088141,0.079086,-0.024430

#### 대손충당금율변동(ABDpc)

In [11]:
data.장기매출채권대손충당금 = data.장기매출채권대손충당금.fillna(0) #결측값 0으로 채우기
data.매출채권대손충당금 = data.매출채권대손충당금.fillna(0)
data['대손충당금'] = data.장기매출채권대손충당금 + data.매출채권대손충당금 #Pandas는 새 열이 변수명으로 생성되는 것을 금지하고 있어서

In [12]:
data.장기매출채권 = data.장기매출채권.fillna(0)
data.매출채권 = data.매출채권.fillna(0)
data['매출채권'] = data.장기매출채권 + data.매출채권

In [13]:
data['대손충당금율'] = data.대손충당금 / data.매출채권

In [14]:
data.대손충당금율 = pd.to_numeric(data.대손충당금율)
대손충당금율_idx = data.pivot_table(columns='년도', index = '기업명', values='대손충당금율', aggfunc='mean', dropna=False)
대손충당금율_변동_idx = fluctuation_2(대손충당금율_idx)
대손충당금율_변동_idx = 대손충당금율_변동_idx.replace([np.inf, -np.inf], np.nan) #inf를 NaN으로 처리
대손충당금율_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,0.000000,NaN,NaN,0.827051,0.916581,1.809184,0.822296,0.559265,1.472923,0.826488,0.000000
(유)건향개발I57907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.983976,0.798750,0.773256
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.292898
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,0.010180,1.003404,1.136997,0.957066,0.981577,1.192805,0.856061,1.006253,1.010593,0.000000,NaN
히스보험중개(주)197675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
히타치금속한국(주)041866,0.013304,0.951623,0.976347,0.834490,1.439756,0.881383,1.134861,0.645624,0.963669,1.302758,0.250961
히타치하이테크코리아(주)380165,0.010101,0.999999,1.000009,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
힐티코리아(주)389471,0.416739,0.700740,1.236349,0.757197,0.959512,0.729622,0.969011,0.812777,0.865167,1.046623,0.985369

### 2) 안정성 지표

#### 유동비율변동(CR)

In [15]:
data.유동비율 = pd.to_numeric(data.유동비율)
유동비율_idx = data.pivot_table(columns='년도', index = '기업명', values='유동비율', aggfunc='mean', dropna=False)
유동비율_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,86.77,121.20,190.48,203.10,246.89,225.38,276.91,252.81,225.99,243.06,128.39
(유)건향개발I57907,NaN,369.56,204.75,378.77,419.42,155.67,153.89,153.29,110.07,128.86,133.70
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,41.15,9.92,66.90,59.01,51.22,50.78,40.55
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,107.19,NaN,NaN,NaN,79.56,62.24,66.64,86.43
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.78,155.57
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,282.04,339.66,266.09,203.43,291.97,453.49,438.02,566.60,868.13,665.84,459.14
히스보험중개(주)197675,310.80,184.52,281.94,225.02,206.32,217.42,182.01,240.75,180.12,214.59,238.86
히타치금속한국(주)041866,175.92,169.03,129.29,196.06,199.42,339.75,275.96,224.33,217.66,234.41,230.40
히타치하이테크코리아(주)380165,272.87,287.04,398.77,545.52,602.35,448.34,324.15,360.84,322.67,269.07,347.36
힐티코리아(주)389471,250.36,296.65,238.61,228.28,254.88,242.31,292.61,275.74,297.24,296.69,226.73

#### 유동비율변동(CRpc)

In [16]:
유동비율_변동_idx = fluctuation_2(유동비율_idx)
유동비율_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,86.77,1.396796,1.571617,1.066254,1.215608,0.912876,1.228636,0.912968,0.893912,1.075534,0.528223
(유)건향개발I57907,NaN,NaN,0.554037,1.849915,1.107321,0.371155,0.988566,0.996101,0.718051,1.170710,1.037560
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,0.241069,6.743952,0.882063,0.867988,0.991410,0.798543
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.782303,1.070694,1.296969
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.979783
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,282.04,1.204297,0.783401,0.764516,1.435236,1.553208,0.965887,1.293548,1.532174,0.766982,0.689565
히스보험중개(주)197675,310.80,0.593694,1.527964,0.798113,0.916896,1.053800,0.837135,1.322730,0.748162,1.191372,1.113099
히타치금속한국(주)041866,175.92,0.960834,0.764894,1.516436,1.017138,1.703691,0.812244,0.812908,0.970267,1.076955,0.982893
히타치하이테크코리아(주)380165,272.87,1.051929,1.389249,1.368007,1.104176,0.744318,0.723000,1.113188,0.894219,0.833886,1.290965
힐티코리아(주)389471,250.36,1.184894,0.804349,0.956708,1.116524,0.950683,1.207585,0.942346,1.077972,0.998150,0.764198

#### 부채비율(DR)

In [17]:
data.부채비율 = pd.to_numeric(data.부채비율)
부채비율_idx = data.pivot_table(columns='년도', index = '기업명', values='부채비율', aggfunc='mean', dropna=False)
부채비율_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,268.28,305.10,218.57,186.48,152.21,139.19,148.61,172.15,191.31,178.34,361.81
(유)건향개발I57907,NaN,36.95,73.95,31.27,34.31,88.27,104.64,148.72,391.98,197.85,136.43
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,424.85,102.11,265.17,295.21,230.90,66.77,63.56
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,984.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.02,154.35
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,20.21,18.46,23.68,28.11,22.15,13.38,12.24,12.06,8.03,9.92,10.22
히스보험중개(주)197675,38.12,61.22,34.04,55.57,59.85,50.95,70.34,40.51,68.77,61.31,46.21
히타치금속한국(주)041866,87.12,90.61,97.35,81.63,55.54,31.76,41.67,58.12,63.04,58.57,59.69
히타치하이테크코리아(주)380165,70.92,57.47,41.00,32.63,29.80,46.23,75.56,36.61,42.23,50.39,35.19
힐티코리아(주)389471,60.36,50.56,62.16,63.36,52.24,59.56,46.20,54.51,45.13,54.34,78.89

#### 부채비율변동(DRpc)

In [18]:
부채비율_변동_idx = fluctuation_2(부채비율_idx)
부채비율_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,268.28,1.137245,0.716388,0.853182,0.816227,0.914460,1.067677,1.158401,1.111298,0.932204,2.028765
(유)건향개발I57907,NaN,NaN,2.001353,0.422853,1.097218,2.572719,1.185454,1.421254,2.635691,0.504745,0.689563
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,0.240344,2.596905,1.113286,0.782155,0.289173,0.951925
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.049857
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,20.21,0.913409,1.282774,1.187078,0.787976,0.604063,0.914798,0.985294,0.665837,1.235367,1.030242
히스보험중개(주)197675,38.12,1.605981,0.556027,1.632491,1.077020,0.851295,1.380569,0.575917,1.697606,0.891522,0.753711
히타치금속한국(주)041866,87.12,1.040060,1.074385,0.838521,0.680387,0.571840,1.312028,1.394768,1.084652,0.929093,1.019122
히타치하이테크코리아(주)380165,70.92,0.810350,0.713416,0.795854,0.913270,1.551342,1.634437,0.484516,1.153510,1.193228,0.698353
힐티코리아(주)389471,60.36,0.837641,1.229430,1.019305,0.824495,1.140123,0.775688,1.179870,0.827921,1.204077,1.451785

#### 영업활동현금흐름이자보상비율(OCFICR)

In [19]:
data.영업활동현금흐름이자보상비율 = pd.to_numeric(data.영업활동현금흐름이자보상비율)
영업활동현금흐름이자보상비율_idx = data.pivot_table(columns='년도', index = '기업명', values='영업활동현금흐름이자보상비율', aggfunc='mean', dropna=False)
영업활동현금흐름이자보상비율_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.22,-0.72
(유)건향개발I57907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.83,-7.55,65.62
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.55,233.52
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75134.28
히스보험중개(주)197675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-485.23
히타치금속한국(주)041866,22.17,8.18,6.99,12.39,38.19,128.83,NaN,NaN,NaN,NaN,NaN
히타치하이테크코리아(주)380165,97.38,561.21,1130.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.53
힐티코리아(주)389471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.40,32.93

#### 금융비용/매출액비율(INTSR)

In [20]:
data.금융비용_매출액비율 = pd.to_numeric(data.금융비용_매출액비율)
금융비용_매출액비율_idx = data.pivot_table(columns='년도', index = '기업명', values='금융비용_매출액비율', aggfunc='mean', dropna=False)
금융비용_매출액비율_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,0.79,1.15,1.43,1.38,1.36,1.19,1.04,1.12,1.03,1.24,1.08
(유)건향개발I57907,NaN,0.03,0.05,0.04,0.35,0.14,NaN,0.07,0.06,0.10,0.13
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,268.66,589.19,260.25,36.83,58.89,14.57,28.30
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,0.06
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
히스보험중개(주)197675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01
히타치금속한국(주)041866,0.51,0.38,0.84,0.42,0.43,0.07,NaN,NaN,NaN,NaN,NaN
히타치하이테크코리아(주)380165,0.03,0.04,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01
힐티코리아(주)389471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.18,0.22

#### 신용평점(Cre)

In [21]:
data.신용평점 = pd.to_numeric(data.신용평점)
신용평점_idx = data.pivot_table(columns='년도', index = '기업명', values='신용평점', aggfunc='mean', dropna=False)
신용평점_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,6.0,6.0,6.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,6.0
(유)건향개발I57907,NaN,4.0,4.0,4.0,4.0,4.0,2.0,5.0,6.0,5.0,4.0
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,7.0,6.0,6.0,7.0,7.0,6.0,8.0
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,6.0,NaN,NaN,NaN,7.0,9.0,9.0,9.0
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,2.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0,2.0,2.0,3.0
히스보험중개(주)197675,2.0,3.0,3.0,4.0,4.0,4.0,2.0,3.0,4.0,4.0,3.0
히타치금속한국(주)041866,4.0,4.0,5.0,3.0,3.0,2.0,3.0,3.0,2.0,2.0,3.0
히타치하이테크코리아(주)380165,4.0,4.0,3.0,2.0,2.0,3.0,3.0,2.0,3.0,3.0,3.0
힐티코리아(주)389471,4.0,4.0,4.0,3.0,4.0,4.0,4.0,5.0,3.0,3.0,3.0

### 3) 수익성 및 성장성 지표

#### 자기자본순이익률(ROE)

In [22]:
data.자기자본순이익률 = pd.to_numeric(data.자기자본순이익률)
자기자본순이익률_idx = data.pivot_table(columns='년도', index = '기업명', values='자기자본순이익률', aggfunc='mean', dropna=False)
자기자본순이익률_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,18.57,11.44,16.20,22.04,14.26,14.11,12.95,11.39,14.62,13.98,4.89
(유)건향개발I57907,NaN,26.04,24.94,18.47,5.05,63.61,72.43,16.78,59.22,59.87,33.61
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,-7.79,138.59,23.27,-7.35,0.34,0.06,0.02
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,6.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.10,55.36
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,9.50,8.98,15.25,29.14,34.55,17.00,11.98,12.13,10.22,7.62,12.62
히스보험중개(주)197675,21.98,26.30,20.44,7.36,14.51,6.43,11.95,15.76,31.44,10.37,6.14
히타치금속한국(주)041866,24.79,17.80,10.59,18.63,17.98,16.37,14.78,8.23,18.51,9.86,11.92
히타치하이테크코리아(주)380165,28.22,62.25,41.29,40.86,14.69,10.41,15.61,15.68,61.84,59.45,37.05
힐티코리아(주)389471,22.55,19.95,7.98,9.09,7.42,14.01,6.04,8.15,11.29,9.41,9.54

#### 자기자본순이익률변동(ROEpc)

In [23]:
자기자본순이익률_변동_idx = fluctuation_2(자기자본순이익률_idx)
자기자본순이익률_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,18.57,0.616047,1.416084,1.360494,0.647005,0.989481,0.917789,0.879537,1.283582,0.956224,0.349785
(유)건향개발I57907,NaN,NaN,0.957757,0.740577,0.273416,12.596040,1.138657,0.231672,3.529201,1.010976,0.561383
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,-17.790757,0.167905,-0.315857,-0.046259,0.176471,0.333333
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.255329
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,9.50,0.945263,1.698218,1.910820,1.185655,0.492041,0.704706,1.012521,0.842539,0.745597,1.656168
히스보험중개(주)197675,21.98,1.196542,0.777186,0.360078,1.971467,0.443143,1.858476,1.318828,1.994924,0.329835,0.592093
히타치금속한국(주)041866,24.79,0.718031,0.594944,1.759207,0.965110,0.910456,0.902871,0.556834,2.249089,0.532685,1.208925
히타치하이테크코리아(주)380165,28.22,2.205882,0.663293,0.989586,0.359520,0.708645,1.499520,1.004484,3.943878,0.961352,0.623213
힐티코리아(주)389471,22.55,0.884701,0.400000,1.139098,0.816282,1.888140,0.431121,1.349338,1.385276,0.833481,1.013815

#### 총자산순이익률(ROA)

In [24]:
data.ROA = pd.to_numeric(data.ROA)
ROA_idx = data.pivot_table(columns='년도', index = '기업명', values='ROA', aggfunc='mean', dropna=False)
ROA_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,5.03,2.95,4.52,7.33,5.32,5.75,5.30,4.39,5.18,4.92,1.41
(유)건향개발I57907,NaN,19.01,15.81,12.26,3.80,37.44,36.38,7.38,14.52,16.37,12.61
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,-1.48,55.07,7.78,-1.93,0.09,0.03,0.01
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,0.58,NaN,NaN,NaN,-41.34,-40.18,-33.00,-24.87
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.85,22.05
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,7.66,7.53,12.57,23.10,27.71,14.46,10.62,10.82,9.29,6.99,11.46
히스보험중개(주)197675,14.32,17.39,13.96,5.07,9.19,4.14,7.41,10.22,20.05,6.28,4.00
히타치금속한국(주)041866,12.86,9.42,5.45,9.87,10.73,11.76,10.80,5.49,11.52,6.13,7.49
히타치하이테크코리아(주)380165,16.47,38.36,27.89,30.01,11.20,7.61,9.67,10.12,44.10,40.83,26.00
힐티코리아(주)389471,13.33,12.87,5.12,5.58,4.71,8.97,3.96,5.42,7.55,6.28,5.72

#### 총자산순이익률변동(ROApc)

In [25]:
ROA_변동_idx = fluctuation_2(ROA_idx)
ROA_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,5.03,0.586481,1.532203,1.621681,0.725784,1.080827,0.921739,0.828302,1.179954,0.949807,0.286585
(유)건향개발I57907,NaN,NaN,0.831668,0.775459,0.309951,9.852632,0.971688,0.202859,1.967480,1.127410,0.770312
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,-37.209459,0.141275,-0.248072,-0.046632,0.333333,0.333333
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.971940,0.821304,0.753636
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.235294
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,7.66,0.983029,1.669323,1.837709,1.199567,0.521833,0.734440,1.018832,0.858595,0.752422,1.639485
히스보험중개(주)197675,14.32,1.214385,0.802760,0.363181,1.812623,0.450490,1.789855,1.379217,1.961840,0.313217,0.636943
히타치금속한국(주)041866,12.86,0.732504,0.578556,1.811009,1.087133,1.095993,0.918367,0.508333,2.098361,0.532118,1.221860
히타치하이테크코리아(주)380165,16.47,2.329083,0.727059,1.076013,0.373209,0.679464,1.270696,1.046536,4.357708,0.925850,0.636787
힐티코리아(주)389471,13.33,0.965491,0.397824,1.089844,0.844086,1.904459,0.441472,1.368687,1.392989,0.831788,0.910828

#### 적자여부(Defi)

In [26]:
data['적자여부'] = data.당기순이익.apply(lambda x: 0 if x > 0 else 1) #당기순이익이 0이하면 적자
data.적자여부 = pd.to_numeric(data.적자여부)
적자여부_idx = data.pivot_table(columns='년도', index = '기업명', values='적자여부', aggfunc='mean', dropna=False)
적자여부_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
(유)건향개발I57907,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
(유)국제에이엠씨M00154,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
(유)그랜드유니버셜트레이딩코리아I83725,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
(유)그룹세브코리아609692,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
히스보험중개(주)197675,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
히타치금속한국(주)041866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
히타치하이테크코리아(주)380165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
힐티코리아(주)389471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 매출액증가율(SG)

In [27]:
data.매출액증가율 = pd.to_numeric(data.매출액증가율)
매출액증가율_idx = data.pivot_table(columns='년도', index = '기업명', values='매출액증가율', aggfunc='mean', dropna=False)
매출액증가율_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,9.76,5.29,2.44,13.63,-2.10,3.45,5.82,7.31,14.85,9.51,-12.73
(유)건향개발I57907,NaN,NaN,-26.17,35.37,-73.49,4136.84,142.01,19.13,65.16,-0.38,-15.22
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,1218.94,456.34,677.77,-33.32,314.01,-78.94
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.23,-12.15,58.39
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.68
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,17.56,18.99,16.22,39.22,38.22,-20.61,-12.02,3.54,-1.19,-3.51,25.93
히스보험중개(주)197675,-11.14,37.72,19.05,4.52,20.26,10.11,6.78,19.04,33.27,3.76,8.99
히타치금속한국(주)041866,16.36,18.70,5.54,11.22,-8.12,33.70,109.35,40.98,21.95,3.50,16.22
히타치하이테크코리아(주)380165,17.21,33.31,10.01,16.78,-17.14,-3.85,7.50,13.53,79.67,8.70,-19.74
힐티코리아(주)389471,9.78,9.18,11.94,9.09,12.38,8.41,13.39,15.41,3.18,-4.72,-0.57

### 4) 신뢰성 지표

#### 자산퀄리티(AQ)

In [28]:
data.유동자산 = pd.to_numeric(data.유동자산)
유동자산_idx = data.pivot_table(columns='년도', index = '기업명', values='유동자산', aggfunc='mean', dropna=False)

data.유형자산 = pd.to_numeric(data.유형자산)
유형자산_idx = data.pivot_table(columns='년도', index = '기업명', values='유형자산', aggfunc='mean', dropna=False)

data.자산총계 = pd.to_numeric(data.자산총계)
자산총계_idx = data.pivot_table(columns='년도', index = '기업명', values='자산총계', aggfunc='mean', dropna=False)

In [29]:
자산퀄리티_idx = (1-(유동자산_idx+유형자산_idx)/자산총계_idx)
자산퀄리티_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,0.241983,0.210837,0.008933,0.004597,0.003259,0.003638,0.022978,0.027524,0.080688,0.080653,0.113478
(유)건향개발I57907,NaN,NaN,NaN,0.215744,0.197204,0.261592,0.197115,0.226237,0.134895,0.121283,0.146449
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,0.000000,0.000000,0.003894,0.035565,0.022060,0.019942,0.020330
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,0.025167,NaN,NaN,NaN,0.000000,0.000271,0.000000,0.000000
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.031617,0.029485
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,0.292003,0.194870,0.277983,0.292800,0.247021,0.196769,0.267317,0.072620,0.038010,0.044608,0.216721
히스보험중개(주)197675,0.135513,0.287172,0.274710,0.233490,0.231895,0.284463,0.257020,0.294078,0.256147,0.172245,0.209066
히타치금속한국(주)041866,0.036565,0.018101,0.029338,0.028906,0.013726,0.021849,0.018308,0.017250,0.012940,0.014612,0.019451
히타치하이테크코리아(주)380165,0.130501,0.072232,0.055239,0.048341,0.050132,0.072154,0.076531,0.057228,0.034955,0.059848,0.065219
힐티코리아(주)389471,0.123509,0.123626,0.194935,0.178282,0.155088,0.134861,0.142450,0.056755,0.078465,0.054562,0.084643

#### 자산퀄리티변동(AQpc)

In [30]:
자산퀄리티_변동_idx = fluctuation_2(자산퀄리티_idx)
자산퀄리티_변동_idx = 자산퀄리티_변동_idx.replace([np.inf, -np.inf], np.nan) #inf를 NaN으로 처리
자산퀄리티_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,0.241983,0.871285,0.042369,0.514590,0.709002,1.116242,6.316188,1.197853,2.931526,0.999558,1.406990
(유)건향개발I57907,NaN,NaN,NaN,NaN,0.914065,1.326503,0.753521,1.147742,0.596256,0.899092,1.207498
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.132626,0.620261,0.903992,1.019460
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.932556
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,0.292003,0.667354,1.426508,1.053303,0.843652,0.796566,1.358534,0.271661,0.523407,1.173605,4.858314
히스보험중개(주)197675,0.135513,2.119140,0.956607,0.849950,0.993170,1.226688,0.903526,1.144185,0.871017,0.672446,1.213770
히타치금속한국(주)041866,0.036565,0.495028,1.620799,0.985293,0.474836,1.591807,0.837958,0.942224,0.750129,1.129180,1.331201
히타치하이테크코리아(주)380165,0.130501,0.553499,0.764736,0.875121,1.037050,1.439293,1.060666,0.747766,0.610811,1.712138,1.089733
힐티코리아(주)389471,0.123509,1.000944,1.576821,0.914571,0.869901,0.869577,1.056277,0.398421,1.382511,0.695364,1.551325

#### 감가상각율변동(Deppc)

In [31]:
data.감가상각율 = pd.to_numeric(data.감가상각율)
감가상각율_idx = data.pivot_table(columns='년도', index = '기업명', values='감가상각율', aggfunc='mean', dropna=False)
감가상각율_변동_idx = fluctuation_2(감가상각율_idx)
감가상각율_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,10.78,2.143785,0.901774,0.887716,0.902703,0.739521,0.797571,0.971574,1.167189,0.883617,0.601824
(유)건향개발I57907,NaN,NaN,NaN,NaN,2.515607,1.536765,1.332835,0.960287,0.413318,0.706049,0.452362
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.290307,0.883958
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.918942
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,21.86,1.141812,1.038061,0.906214,1.444208,1.084636,0.927678,0.703693,1.000000,0.932528,0.993301
히스보험중개(주)197675,36.67,0.541314,2.048866,0.711827,1.321589,1.030842,0.919371,0.771649,0.807720,0.970354,0.697674
히타치금속한국(주)041866,20.49,1.111762,0.693152,0.923369,0.738683,0.637883,1.640466,1.243123,1.240542,1.186997,1.094038
히타치하이테크코리아(주)380165,54.91,0.899108,0.857201,0.964792,0.497918,1.502213,0.895547,1.219013,0.563887,0.938298,1.754535
힐티코리아(주)389471,46.83,1.055093,0.860959,1.182417,0.606362,1.566230,0.942432,0.702132,1.076242,0.549383,0.691279

#### 판매비와관리비비율(SGA)

In [32]:
data.판매비와관리비 = pd.to_numeric(data.판매비와관리비)
판매비와관리비_idx = data.pivot_table(columns='년도', index = '기업명', values='판매비와관리비', aggfunc='mean', dropna=False)

data.매출액 = pd.to_numeric(data.매출액)
매출액_idx = data.pivot_table(columns='년도', index = '기업명', values='매출액', aggfunc='mean', dropna=False)

판매비와관리비비율_idx = 판매비와관리비_idx / 매출액_idx
판매비와관리비비율_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,0.185842,0.188776,0.156393,0.168223,0.167697,0.165851,0.160570,0.159322,0.157286,0.144027,0.130153
(유)건향개발I57907,NaN,0.081577,0.086784,0.061535,0.400644,0.050545,0.032570,0.032211,0.029107,0.027874,0.041338
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,19.391013,28.935664,7.198633,0.853069,0.212800,0.186857,0.280539
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,0.109354,NaN,NaN,NaN,0.162058,0.123488,0.126848,0.127177
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.250333,0.244328
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,0.074820,0.069014,0.063664,0.070486,0.058039,0.063355,0.069455,0.069966,0.079689,0.092197,0.086396
히스보험중개(주)197675,0.795444,0.744941,0.776856,0.885933,0.875262,0.901539,0.865012,0.810514,0.729908,0.886851,0.920568
히타치금속한국(주)041866,0.132212,0.125169,0.128235,0.120819,0.127822,0.123750,0.105017,0.077173,0.061792,0.059561,0.050576
히타치하이테크코리아(주)380165,0.358405,0.284675,0.271204,0.223421,0.248309,0.260758,0.226479,0.206402,0.131707,0.138101,0.182011
힐티코리아(주)389471,0.320492,0.297186,0.278761,0.260544,0.314194,0.247722,0.252610,0.249744,0.283610,0.321642,0.335353

#### 판매비와관리비비율변동(SGApc)

In [33]:
판매비와관리비비율_변동_idx = fluctuation_2(판매비와관리비비율_idx)
판매비와관리비비율_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,0.185842,1.015792,0.828456,1.075640,0.996878,0.988989,0.968160,0.992224,0.987221,0.915704,0.903673
(유)건향개발I57907,NaN,NaN,1.063832,0.709054,6.510866,0.126159,0.644372,0.989000,0.903623,0.957651,1.483024
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,1.492220,0.248781,0.118504,0.249453,0.878087,1.501359
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.762000,1.027210,1.002591
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.976010
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,0.074820,0.922411,0.922480,1.107157,0.823411,1.091583,1.096280,1.007366,1.138964,1.156965,0.937073
히스보험중개(주)197675,0.795444,0.936510,1.042842,1.140407,0.987955,1.030022,0.959484,0.936997,0.900549,1.215018,1.038018
히타치금속한국(주)041866,0.132212,0.946731,1.024493,0.942171,1.057966,0.968141,0.848623,0.734862,0.800693,0.963903,0.849143
히타치하이테크코리아(주)380165,0.358405,0.794284,0.952680,0.823810,1.111398,1.050135,0.868541,0.911348,0.638113,1.048542,1.317960
힐티코리아(주)389471,0.320492,0.927278,0.938004,0.934651,1.205912,0.788437,1.019731,0.988654,1.135605,1.134098,1.042628

#### 총발생액비율(TATA)

In [34]:
data.당기순이익 = pd.to_numeric(data.당기순이익)
당기순이익_idx = data.pivot_table(columns='년도', index = '기업명', values='당기순이익', aggfunc='mean', dropna=False)

data.영업활동현금흐름 = pd.to_numeric(data.영업활동현금흐름)
영업활동현금흐름_idx = data.pivot_table(columns='년도', index = '기업명', values='영업활동현금흐름', aggfunc='mean', dropna=False)

총발생액비율_idx = (당기순이익_idx - 영업활동현금흐름_idx) / 자산총계_idx
총발생액비율_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042727,0.024525
(유)건향개발I57907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.139367,0.183248,-0.198999
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.022762,0.117186
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.102291,-0.209468
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,0.041513,-0.058990,-0.105266,-0.071918,-0.067560,-0.048864,-0.081833,-0.080351,-0.030387,-0.081183,-0.067017
히스보험중개(주)197675,0.169317,-0.124889,0.234193,-0.189288,-0.028386,-0.063367,-0.127294,0.096823,-0.238687,0.027030,0.077092
히타치금속한국(주)041866,-0.034888,0.044609,-0.023199,0.028283,-0.083938,0.019658,-0.003550,-0.031881,0.021415,0.035695,-0.072936
히타치하이테크코리아(주)380165,0.091146,-0.066560,0.013639,-0.087994,0.033859,-0.028420,-0.107866,0.222043,-0.072601,0.031428,0.137734
힐티코리아(주)389471,0.121840,0.053840,0.047402,-0.051775,0.044267,0.027315,0.085114,0.098372,0.007221,-0.098288,-0.059297

#### 총발생액비율변동(TATApc)

In [35]:
순이익변동_idx = fluctuation_3(당기순이익_idx)
영업활동현금흐름변동_idx = fluctuation_3(영업활동현금흐름_idx)

총발생액비율_변동_idx = (순이익변동_idx - 영업활동현금흐름변동_idx) / 자산총계_idx
총발생액비율_변동_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.018599
(유)건향개발I57907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.307075,-0.419842
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.131645
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.128780
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,0.041513,-0.098284,-0.056109,0.006343,-0.011604,0.016320,-0.038059,-0.006771,0.045698,-0.054725,0.005230
히스보험중개(주)197675,0.169317,-0.236228,0.359945,-0.376746,0.130918,-0.035179,-0.077472,0.228606,-0.297394,0.282743,0.049046
히타치금속한국(주)041866,-0.034888,0.073852,-0.062568,0.049394,-0.111958,0.065409,-0.020462,-0.028642,0.048538,0.013128,-0.106613
히타치하이테크코리아(주)380165,0.091146,-0.121678,0.069236,-0.098594,0.119975,-0.068485,-0.085574,0.344391,-0.192097,0.129454,0.105671
힐티코리아(주)389471,0.121840,-0.052393,-0.013536,-0.094738,0.095850,-0.009391,0.057050,0.024143,-0.088074,-0.104548,0.022095

#### 매출액영업이익률과 영업활동현금흐름/매출액 차이(EBITOCFd)

In [36]:
data['매영차'] = abs(data.매출액영업이익률 - (data.영업활동현금흐름 / data.매출액)) #편의상 '매출액영업이익률과영업활동현금흐름/매출액차이'를 '매영차'로 축약해서 사용

In [37]:
data.매영차 = pd.to_numeric(data.매영차)
매영차_idx = data.pivot_table(columns='년도', index = '기업명', values='매영차', aggfunc='mean', dropna=False)
매영차_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.937258,1.407754
(유)건향개발I57907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.676345,5.297512,4.273336
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.981922,8.801749
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.442779,9.410569
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,6.855697,5.564996,11.442037,19.583005,23.466836,16.058947,14.776219,16.517296,15.694690,13.842516,21.014385
히스보험중개(주)197675,20.485650,25.216415,22.395650,11.154393,12.348497,9.747143,13.273385,18.943225,26.539916,11.269738,7.974028
히타치금속한국(주)041866,11.857878,8.789109,5.861072,7.458473,10.516277,13.186176,7.772011,2.987103,5.898281,4.967766,4.050301
히타치하이테크코리아(주)380165,9.230709,26.653861,24.376654,26.920400,12.975177,13.584738,11.683199,10.969722,35.524844,34.501340,22.685386
힐티코리아(주)389471,7.027204,4.366802,2.786312,3.545660,3.971263,4.181857,2.789865,2.610911,3.820559,3.746663,3.978038

#### 총자산증가율과 종업원수증가율 차이(TAEd)

In [38]:
data.종업원수증가율 = pd.to_numeric(data.종업원수증가율)
종업원수증가율_idx = data.pivot_table(columns='년도', index = '기업명', values='종업원수증가율', aggfunc='mean', dropna=False)
종업원수증가율_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.20
(유)건향개발I57907,NaN,NaN,NaN,NaN,200.00,33.33,NaN,NaN,81.82,5.00,128.57
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,66.67,-20.00,-25.00,66.67,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.57
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,15.48,20.67,10.88,9.81,2.28,2.04,-2.37,17.35,1.91,1.72,12.58
히스보험중개(주)197675,20.00,40.00,NaN,42.86,NaN,NaN,NaN,NaN,16.13,11.11,13.33
히타치금속한국(주)041866,NaN,13.95,12.24,NaN,7.27,13.56,83.58,-3.25,3.36,-4.88,NaN
히타치하이테크코리아(주)380165,NaN,NaN,-13.29,-2.00,6.12,2.56,-3.13,4.52,14.20,21.08,11.16
힐티코리아(주)389471,2.04,-0.67,-2.01,2.05,6.71,14.47,6.59,13.92,9.95,0.82,3.27

In [39]:
data.총자산증가율 = pd.to_numeric(data.총자산증가율)
총자산증가율_idx = data.pivot_table(columns='년도', index = '기업명', values='총자산증가율', aggfunc='mean', dropna=False)
총종차_idx = abs(총자산증가율_idx - 종업원수증가율_idx) #편의상 '총자산증가율과종업원수증가율차이'를 '총종차'로 축약해서 사용
총종차_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.12
(유)건향개발I57907,NaN,NaN,NaN,NaN,194.08,137.60,NaN,NaN,191.56,7.55,145.59
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,97.21,20.56,17.65,55.46,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.85
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,15.37,15.02,9.12,24.70,26.25,1.61,14.00,6.13,3.70,13.13,0.21
히스보험중개(주)197675,20.17,12.07,NaN,17.93,NaN,NaN,NaN,NaN,48.80,17.77,16.95
히타치금속한국(주)041866,NaN,5.35,1.07,NaN,6.33,69.91,67.35,12.85,14.18,0.22,NaN
히타치하이테크코리아(주)380165,NaN,NaN,33.01,30.67,3.94,18.05,30.62,16.36,71.62,47.02,13.14
힐티코리아(주)389471,9.56,15.36,9.64,8.28,6.34,6.13,9.26,0.74,6.72,14.52,17.49

#### 매출액증가율과 종업원수증가율 차이(SEd)

In [40]:
data.매출액증가율 = pd.to_numeric(data.매출액증가율)
매출액증가율_idx = data.pivot_table(columns='년도', index = '기업명', values='매출액증가율', aggfunc='mean', dropna=False)
매종차_idx = abs(매출액증가율_idx - 종업원수증가율_idx) #편의상 '매출액증가율과종업원수증가율차이'를 '매종차'로 축약해서 사용
매종차_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.93
(유)건향개발I57907,NaN,NaN,NaN,NaN,273.49,4103.51,NaN,NaN,16.66,5.38,143.79
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,NaN,NaN,389.67,697.77,8.32,247.34,NaN
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.82
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,2.08,1.68,5.34,29.41,35.94,22.65,9.65,13.81,3.10,5.23,13.35
히스보험중개(주)197675,31.14,2.28,NaN,38.34,NaN,NaN,NaN,NaN,17.14,7.35,4.34
히타치금속한국(주)041866,NaN,4.75,6.70,NaN,15.39,20.14,25.77,44.23,18.59,8.38,NaN
히타치하이테크코리아(주)380165,NaN,NaN,23.30,18.78,23.26,6.41,10.63,9.01,65.47,12.38,30.90
힐티코리아(주)389471,7.74,9.85,13.95,7.04,5.67,6.06,6.80,1.49,6.77,5.54,3.84

#### 오류수정 및 회계정책 변경(EC)

In [41]:
오류수정및회계정책변경.rename(columns = {'Unnamed: 2' : '기업명'}, inplace = True)
오류수정및회계정책변경.rename(columns = {'level_1' : '년도'}, inplace = True)
오류수정및회계정책변경['오류수정및회계정책변경'] = 오류수정및회계정책변경.오류수정및회계정책변경.apply(lambda x: 1 if x == 'NaN' else 0) #Nan은 0으로, 나머지 값은 1로 변환
오류수정및회계정책변경.rename(columns = {'오류수정및회계정책변경' : '오류수정및회계정책변경여부'}, inplace = True)
오류수정및회계정책변경

                        기업명    년도  오류수정및회계정책변경여부
0             청우화학(주)000083  2010              0
1             청우화학(주)000083  2011              0
2             청우화학(주)000083  2012              0
3             청우화학(주)000083  2013              0
4             청우화학(주)000083  2014              0
...                     ...   ...            ...
318687  (주)메디라인액티브코리아Y32604  2016              0
318688  (주)메디라인액티브코리아Y32604  2017              0
318689  (주)메디라인액티브코리아Y32604  2018              0
318690  (주)메디라인액티브코리아Y32604  2019              0
318691  (주)메디라인액티브코리아Y32604  2020              0

[318692 rows x 3 columns]

### 5) 기업의 규모 지표

#### 자산총계(TA)

In [42]:
data.자산총계 = pd.to_numeric(data.자산총계)
data.자산총계 = np.log(data.자산총계) #값이 너무 커서 로그값을 취함

In [43]:
data.자산총계 = pd.to_numeric(data.자산총계)
자산총계_idx = data.pivot_table(columns='년도', index = '기업명', values='자산총계', aggfunc='mean', dropna=False)
자산총계_idx

년도,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
기업명,,,,,,,,,,,
(유)가든주류244534,23.546056,23.755892,23.656948,23.763009,23.774551,23.862884,24.031228,23.989281,24.130749,24.227218,24.217976
(유)건향개발I57907,NaN,19.992317,20.482245,20.385970,20.443490,21.440165,22.185263,22.442576,23.759990,23.878219,23.691609
(유)국제에이엠씨M00154,NaN,NaN,NaN,NaN,22.306228,23.059207,24.029533,24.035101,23.958784,24.065055,24.045780
(유)그랜드유니버셜트레이딩코리아I83725,NaN,NaN,NaN,21.920530,NaN,NaN,NaN,23.758224,23.541581,23.757676,24.211416
(유)그룹세브코리아609692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.653468,24.890705
...,...,...,...,...,...,...,...,...,...,...,...
히로세코리아(주)450090,25.736425,25.791357,25.973713,26.270152,26.521115,26.556922,26.666930,26.773233,26.827796,26.966268,27.082876
히스보험중개(주)197675,22.385553,22.804746,22.797854,23.020444,23.192901,23.199897,23.440390,23.405735,23.906064,23.837159,23.800239
히타치금속한국(주)041866,23.658446,23.834932,23.959902,24.054257,24.063619,24.670483,24.820886,24.912525,25.074152,25.021786,25.079976
히타치하이테크코리아(주)380165,23.627712,24.130696,24.310677,24.562794,24.584371,24.416087,24.658931,24.532952,25.152534,24.852281,24.832301
힐티코리아(주)389471,23.981901,24.118968,23.995146,24.093462,24.097181,24.284504,24.257440,24.394284,24.426058,24.568740,24.757369

#### 상장구분(KRXC)

In [44]:
상장구분 = pd.read_excel('data/index/시장구분.xls', skiprows=[0, 1, 2, 3, 4, 5])
상장구분['Name'] = 상장구분['Name'] + 상장구분['KIS']
상장구분 = 상장구분[['Name', '소속/시장구분/0A0002']]
상장구분.columns = ['Name', '상장구분']
상장구분

                      Name   상장구분
0            청우화학(주)000083     외감
1         (주)메타바이오메드000292  코스닥상장
2              (주)코라000366     외감
3           (주)이건홀딩스000442  코스닥상장
4            동성인쇄(주)000469     외감
...                    ...    ...
28967       (주)에이플러스V17430     외감
28968        (주)인터코스X02373    코넥스
28969        (주)에스엘씨X57312     외감
28970  농업회사법인한국양계(주)X91216     외감
28971  (주)메디라인액티브코리아Y32604     외감

[28972 rows x 2 columns]

In [45]:
data = pd.merge(data, 상장구분, how = 'left', left_on = '기업명', right_on = 'Name') #data에 상장구분 내용 추가
data = data.drop('Name', axis = 1)
data

,기업명,년도,매출액,당기순이익,매출액영업이익률,매출채권회전율,부채비율,영업활동현금흐름,유동비율,자기자본순이익률,...,장기매출채권,ROA,감사법인,감사의견,신용평점,대손충당금,대손충당금율,적자여부,매영차,상장구분
0,청우화학(주)000083,2010,5.005091e+09,NaN,3.06,4.06,88.63,NaN,154.57,11.39,...,191252000,5.78,NaN,NaN,5.0,11431000,0.008641,1,NaN,외감
1,청우화학(주)000083,2011,5.547721e+09,NaN,3.72,4.77,73.44,NaN,179.11,12.40,...,178238000,6.87,NaN,NaN,4.0,11809000,0.008765,1,NaN,외감
2,청우화학(주)000083,2012,6.387805e+09,NaN,4.97,5.53,65.12,NaN,203.14,16.18,...,3623000,9.57,NaN,NaN,4.0,11302000,0.010068,1,NaN,외감
3,청우화학(주)000083,2013,6.353868e+09,NaN,13.01,4.92,53.64,NaN,240.93,32.69,...,0,20.61,NaN,NaN,3.0,14523000,0.010101,1,NaN,외감
4,청우화학(주)000083,2014,6.897317e+09,NaN,15.21,4.71,54.85,NaN,156.80,32.34,...,0,20.95,NaN,NaN,3.0,14755000,0.010101,1,NaN,외감
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318687,(주)메디라인액티브코리아Y32604,2016,1.531175e+10,NaN,9.46,6.90,329.38,NaN,135.24,90.42,...,0,20.41,NaN,NaN,5.0,27602000,0.010101,1,NaN,외감
318688,(주)메디라인액티브코리아Y32604,2017,1.862718e+10,NaN,10.29,5.28,285.79,NaN,178.41,24.04,...,0,5.94,NaN,NaN,6.0,42927000,0.010101,1,NaN,외감
318689,(주)메디라인액티브코리아Y32604,2018,2.275594e+10,NaN,9,5.47,235.55,NaN,219.69,63.15,...,0,17.67,NaN,NaN,5.0,40333000,0.010101,1,NaN,외감
318690,(주)메디라인액티브코리아Y32604,2019,2.741999e+10,1.712602e+09,8.22,5.51,204.80,4.338040e+08,178.89,50.14,...,0,15.80,NaN,감사미필,5.0,0,0.000000,0,8.204179,외감
318691,(주)메디라인액티브코리아Y32604,2020,2.897948e+10,1.728057e+09,6.94,4.81,201.65,1.880193e+09,254.43,37.02,...,0,12.22,한울회계법인,한정(감사범위제한),4.0,0,0.000000,0,6.875120,외감

In [46]:
data.상장구분.value_counts()

외감       290939
코스닥상장     15378
상장         9724
코넥스        1441
코스닥관리      1067
상장관리        143
Name: 상장구분, dtype: int64

In [47]:
#'비상장(KRXC_private)'은 0, '상장(KRXC_public)'은 1, '상장관리(KRXC_black)'는 2
data.상장구분 = data.상장구분.map({
    '외감': 0,
    '코스닥상장': 1,
    '상장': 1,
    '코넥스': 1, 
    '코스닥관리': 2,
    '상장관리': 2
})
data

,기업명,년도,매출액,당기순이익,매출액영업이익률,매출채권회전율,부채비율,영업활동현금흐름,유동비율,자기자본순이익률,...,장기매출채권,ROA,감사법인,감사의견,신용평점,대손충당금,대손충당금율,적자여부,매영차,상장구분
0,청우화학(주)000083,2010,5.005091e+09,NaN,3.06,4.06,88.63,NaN,154.57,11.39,...,191252000,5.78,NaN,NaN,5.0,11431000,0.008641,1,NaN,0
1,청우화학(주)000083,2011,5.547721e+09,NaN,3.72,4.77,73.44,NaN,179.11,12.40,...,178238000,6.87,NaN,NaN,4.0,11809000,0.008765,1,NaN,0
2,청우화학(주)000083,2012,6.387805e+09,NaN,4.97,5.53,65.12,NaN,203.14,16.18,...,3623000,9.57,NaN,NaN,4.0,11302000,0.010068,1,NaN,0
3,청우화학(주)000083,2013,6.353868e+09,NaN,13.01,4.92,53.64,NaN,240.93,32.69,...,0,20.61,NaN,NaN,3.0,14523000,0.010101,1,NaN,0
4,청우화학(주)000083,2014,6.897317e+09,NaN,15.21,4.71,54.85,NaN,156.80,32.34,...,0,20.95,NaN,NaN,3.0,14755000,0.010101,1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318687,(주)메디라인액티브코리아Y32604,2016,1.531175e+10,NaN,9.46,6.90,329.38,NaN,135.24,90.42,...,0,20.41,NaN,NaN,5.0,27602000,0.010101,1,NaN,0
318688,(주)메디라인액티브코리아Y32604,2017,1.862718e+10,NaN,10.29,5.28,285.79,NaN,178.41,24.04,...,0,5.94,NaN,NaN,6.0,42927000,0.010101,1,NaN,0
318689,(주)메디라인액티브코리아Y32604,2018,2.275594e+10,NaN,9,5.47,235.55,NaN,219.69,63.15,...,0,17.67,NaN,NaN,5.0,40333000,0.010101,1,NaN,0
318690,(주)메디라인액티브코리아Y32604,2019,2.741999e+10,1.712602e+09,8.22,5.51,204.80,4.338040e+08,178.89,50.14,...,0,15.80,NaN,감사미필,5.0,0,0.000000,0,8.204179,0
318691,(주)메디라인액티브코리아Y32604,2020,2.897948e+10,1.728057e+09,6.94,4.81,201.65,1.880193e+09,254.43,37.02,...,0,12.22,한울회계법인,한정(감사범위제한),4.0,0,0.000000,0,6.875120,0

In [48]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()
a = pd.DataFrame(lb.fit_transform(data.상장구분))

data = pd.concat([data,a], axis=1) #상장구분의 각 벡터를 열로 확장

In [49]:
data.columns =['기업명', '년도', '매출액', '당기순이익', '매출액영업이익률', '매출채권회전율', '부채비율', '영업활동현금흐름',
              '유동비율', '자기자본순이익률', '자산총계', '재고자산회전율', '영업활동현금흐름이자보상비율', '종업원수', '종업원수증가율',
              '감가상각율', '금융비용_매출액비율', '오류수정및회계정책변경', '유동자산', '유형자산', '총자산증가율', '매출액증가율',
              '판매비와관리비',    '장기매출채권대손충당금', '매출채권', '매출채권대손충당금', '장기매출채권', 'ROA', '감사법인', '감사의견',
              '신용평점', '대손충당금', '대손충당금율', '적자여부', '매영차', '상장구분', '비상장', '상장', '상장관리']

### 6) 감사인 지표

#### BIG4 여부(BIG4)

In [50]:
big4 = ['삼일', '삼일회계법인', '삼정', '삼정회계법인', '안진', '안진회계법인', '한영', '한영회계법인']

In [51]:
data.감사법인.value_counts()

삼일회계법인        10992
대주회계법인         7324
삼정회계법인         7292
삼덕회계법인         7071
안진회계법인         6123
              ...
정얀                1
정원                1
새물결               1
명도                1
원일공인회계사감사반        1
Name: 감사법인, Length: 1234, dtype: int64

In [52]:
data['BIG4여부'] = data.감사법인.apply(lambda x: 1 if x in big4 else 0) #BIG4 법인이면 1, 아니면 0
data

,기업명,년도,매출액,당기순이익,매출액영업이익률,매출채권회전율,부채비율,영업활동현금흐름,유동비율,자기자본순이익률,...,신용평점,대손충당금,대손충당금율,적자여부,매영차,상장구분,비상장,상장,상장관리,BIG4여부
0,청우화학(주)000083,2010,5.005091e+09,NaN,3.06,4.06,88.63,NaN,154.57,11.39,...,5.0,11431000,0.008641,1,NaN,0,1,0,0,0
1,청우화학(주)000083,2011,5.547721e+09,NaN,3.72,4.77,73.44,NaN,179.11,12.40,...,4.0,11809000,0.008765,1,NaN,0,1,0,0,0
2,청우화학(주)000083,2012,6.387805e+09,NaN,4.97,5.53,65.12,NaN,203.14,16.18,...,4.0,11302000,0.010068,1,NaN,0,1,0,0,0
3,청우화학(주)000083,2013,6.353868e+09,NaN,13.01,4.92,53.64,NaN,240.93,32.69,...,3.0,14523000,0.010101,1,NaN,0,1,0,0,0
4,청우화학(주)000083,2014,6.897317e+09,NaN,15.21,4.71,54.85,NaN,156.80,32.34,...,3.0,14755000,0.010101,1,NaN,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318687,(주)메디라인액티브코리아Y32604,2016,1.531175e+10,NaN,9.46,6.90,329.38,NaN,135.24,90.42,...,5.0,27602000,0.010101,1,NaN,0,1,0,0,0
318688,(주)메디라인액티브코리아Y32604,2017,1.862718e+10,NaN,10.29,5.28,285.79,NaN,178.41,24.04,...,6.0,42927000,0.010101,1,NaN,0,1,0,0,0
318689,(주)메디라인액티브코리아Y32604,2018,2.275594e+10,NaN,9,5.47,235.55,NaN,219.69,63.15,...,5.0,40333000,0.010101,1,NaN,0,1,0,0,0
318690,(주)메디라인액티브코리아Y32604,2019,2.741999e+10,1.712602e+09,8.22,5.51,204.80,4.338040e+08,178.89,50.14,...,5.0,0,0.000000,0,8.204179,0,1,0,0,0
318691,(주)메디라인액티브코리아Y32604,2020,2.897948e+10,1.728057e+09,6.94,4.81,201.65,1.880193e+09,254.43,37.02,...,4.0,0,0.000000,0,6.875120,0,1,0,0,0

#### 당기감사법인변경여부(AC)

In [53]:
감사법인_temp = df_index2('감사법인')
감사법인_변동_idx = 감사법인_temp.set_index(['Unnamed: 2','level_1']).unstack(1)
감사법인_변동_idx = 감사법인_변동_idx.fillna('NaN')
감사법인_변동_idx

                        감사법인                                                  \
level_1                 2010    2011    2012    2013    2014    2015    2016
Unnamed: 2
(유)가든주류244534            NaN     NaN     NaN     NaN     NaN     NaN     NaN
(유)건향개발I57907            NaN     NaN     NaN     NaN     NaN     NaN     NaN
(유)국제에이엠씨M00154          NaN     NaN     NaN     NaN     NaN     NaN     NaN
(유)그랜드유니버셜트레이딩코리아I83725  NaN     NaN     NaN     NaN     NaN     NaN     NaN
(유)그룹세브코리아609692         NaN     NaN     NaN     NaN     NaN     NaN     NaN
...                      ...     ...     ...     ...     ...     ...     ...
히로세코리아(주)450090           한영      한영      한영      한영  삼정회계법인  삼정회계법인  삼정회계법인
히스보험중개(주)197675           대주  대주회계법인  대주회계법인  대주회계법인  대주회계법인  대주회계법인  대주회계법인
히타치금속한국(주)041866          한영      한영      한영  한영회계법인  한영회계법인  한영회계법인  한영회계법인
히타치하이테크코리아(주)380165       한영      한영      한영  한영회계법인  한영회계법인  한영회계법인  한영회계법인
힐티코리아(주)389471            삼일      삼일      삼일  삼일회계법인  삼일회계법인  삼일회계법인  삼일회계법인


level_1                    2017      2018      2019               2020
Unnamed: 2
(유)가든주류244534               NaN       NaN       NaN  서석공인회계사감사반(제279호)
(유)건향개발I57907               NaN  이정지율회계법인  이정지율회계법인             이정회계법인
(유)국제에이엠씨M00154             NaN       NaN       NaN                NaN
(유)그랜드유니버셜트레이딩코리아I83725     NaN       NaN       NaN             삼덕회계법인
(유)그룹세브코리아609692            NaN       NaN       NaN             삼일회계법인
...                         ...       ...       ...                ...
히로세코리아(주)450090          삼정회계법인    삼정회계법인    삼정회계법인             삼정회계법인
히스보험중개(주)197675          대주회계법인    대주회계법인    대주회계법인             대주회계법인
히타치금속한국(주)041866         한영회계법인    한영회계법인    한영회계법인             한영회계법인
히타치하이테크코리아(주)380165      한영회계법인    한영회계법인    한영회계법인             한영회계법인
힐티코리아(주)389471           삼일회계법인    삼일회계법인    삼일회계법인             삼일회계법인

[28972 rows x 11 columns]

In [54]:
%%time

당기감사법인_변동_여부_idx = 감사법인_변동_idx.copy()

years = ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

for i in 감사법인_변동_idx.index:
    for j in range(10):
        if 감사법인_변동_idx.loc[i][j] in 감사법인_변동_idx.loc[i][j+1]:
            당기감사법인_변동_여부_idx[('감사법인', years[j])][i] = 0
        else:
            당기감사법인_변동_여부_idx[('감사법인', years[j])][i] = 1
        
당기감사법인_변동_여부_idx

CPU times: user 1min 23s, sys: 637 ms, total: 1min 23s
Wall time: 1min 20s

                        감사법인
level_1                 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020
Unnamed: 2
(유)가든주류244534            NaN    0    0    0    0    0    0    0    0    0    1
(유)건향개발I57907            NaN    0    0    0    0    0    0    0    1    0    1
(유)국제에이엠씨M00154          NaN    0    0    0    0    0    0    0    0    0    0
(유)그랜드유니버셜트레이딩코리아I83725  NaN    0    0    0    0    0    0    0    0    0    1
(유)그룹세브코리아609692         NaN    0    0    0    0    0    0    0    0    0    1
...                      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
히로세코리아(주)450090           한영    0    0    0    1    0    0    0    0    0    0
히스보험중개(주)197675           대주    0    0    0    0    0    0    0    0    0    0
히타치금속한국(주)041866          한영    0    0    0    0    0    0    0    0    0    0
히타치하이테크코리아(주)380165       한영    0    0    0    0    0    0    0    0    0    0
힐티코리아(주)389471            삼일    0    0    0    0    0    0    0    0    0    0

[28972 rows x 11 columns]

## 3. Merging Data

In [55]:
매출채권회전율_변동_idx = 매출채권회전율_변동_idx.stack(dropna=False,).reset_index() #데이터를 위에서 아래로 쌓아 재구조화(행 데이터로 재구조했던 자료들을 다시 열로 되돌려서 년도별로 쌓기)
매출채권회전율_변동_idx.columns = ['기업명', '년도', '매출채권회전율변동']

재고자산회전율_변동_idx = 재고자산회전율_변동_idx.stack(dropna=False).reset_index()
재고자산회전율_변동_idx.columns = ['기업명', '년도', '재고자산회전율변동']

대손충당금율_변동_idx = 대손충당금율_변동_idx.stack(dropna=False).reset_index()
대손충당금율_변동_idx.columns = ['기업명', '년도', '대손충당금율변동']

유동비율_idx = 유동비율_idx.stack(dropna=False).reset_index()
유동비율_idx.columns = ['기업명', '년도', '유동비율']

유동비율_변동_idx = 유동비율_변동_idx.stack(dropna=False).reset_index()
유동비율_변동_idx.columns = ['기업명', '년도', '유동비율변동']

부채비율_idx = 부채비율_idx.stack(dropna=False).reset_index()
부채비율_idx.columns = ['기업명', '년도', '부채비율']

부채비율_변동_idx = 부채비율_변동_idx.stack(dropna=False).reset_index()
부채비율_변동_idx.columns = ['기업명', '년도', '부채비율변동']

영업활동현금흐름이자보상비율_idx = 영업활동현금흐름이자보상비율_idx.stack(dropna=False).reset_index()
영업활동현금흐름이자보상비율_idx.columns = ['기업명', '년도', '영업활동현금흐름이자보상비율']

금융비용_매출액비율_idx = 금융비용_매출액비율_idx.stack(dropna=False).reset_index()
금융비용_매출액비율_idx.columns = ['기업명', '년도', '금융비용_매출액비율']

신용평점_idx = 신용평점_idx.stack(dropna=False).reset_index()
신용평점_idx.columns = ['기업명', '년도', '신용평점']

자기자본순이익률_idx = 자기자본순이익률_idx.stack(dropna=False).reset_index()
자기자본순이익률_idx.columns = ['기업명', '년도', '자기자본순이익률']

자기자본순이익률_변동_idx = 자기자본순이익률_변동_idx.stack(dropna=False).reset_index()
자기자본순이익률_변동_idx.columns = ['기업명', '년도', '자기자본순이익률변동']

ROA_idx = ROA_idx.stack(dropna=False).reset_index()
ROA_idx.columns = ['기업명', '년도', 'ROA']

ROA_변동_idx = ROA_변동_idx.stack(dropna=False).reset_index()
ROA_변동_idx.columns = ['기업명', '년도', 'ROA변동']

적자여부_idx = 적자여부_idx.stack(dropna=False).reset_index()
적자여부_idx.columns = ['기업명', '년도', '적자여부']

매출액증가율_idx = 매출액증가율_idx.stack(dropna=False).reset_index() 
매출액증가율_idx.columns = ['기업명', '년도', '매출액증가율']

자산퀄리티_idx = 자산퀄리티_idx.stack(dropna=False).reset_index() 
자산퀄리티_idx.columns = ['기업명', '년도', '자산퀄리티']

자산퀄리티_변동_idx = 자산퀄리티_변동_idx.stack(dropna=False).reset_index() 
자산퀄리티_변동_idx.columns = ['기업명', '년도', '자산퀄리티변동']

감가상각율_변동_idx = 감가상각율_변동_idx.stack(dropna=False).reset_index() 
감가상각율_변동_idx.columns = ['기업명', '년도', '감가상각율변동']

판매비와관리비비율_idx = 판매비와관리비비율_idx.stack(dropna=False).reset_index() 
판매비와관리비비율_idx.columns = ['기업명', '년도', '판매비와관리비비율']

판매비와관리비비율_변동_idx = 판매비와관리비비율_변동_idx.stack(dropna=False).reset_index() 
판매비와관리비비율_변동_idx.columns = ['기업명', '년도', '판매비와관리비비율변동']

총발생액비율_idx = 총발생액비율_idx.stack(dropna=False).reset_index() 
총발생액비율_idx.columns = ['기업명', '년도', '총발생액비율']

총발생액비율_변동_idx = 총발생액비율_변동_idx.stack(dropna=False).reset_index() 
총발생액비율_변동_idx.columns = ['기업명', '년도', '총발생액비율변동']

매영차_idx = 매영차_idx.stack(dropna=False).reset_index()
매영차_idx.columns = ['기업명', '년도', '매영차']

총종차_idx = 총종차_idx.stack(dropna=False).reset_index()
총종차_idx.columns = ['기업명', '년도', '총종차']

매종차_idx = 매종차_idx.stack(dropna=False).reset_index()
매종차_idx.columns = ['기업명', '년도', '매종차']

자산총계_idx = 자산총계_idx.stack(dropna=False).reset_index()
자산총계_idx.columns = ['기업명', '년도', '자산총계']

상장구분_idx = data[['기업명', '년도', '비상장', '상장', '상장관리']]

BIG4여부_idx = data[['기업명', '년도', 'BIG4여부']]

당기감사법인_변동_여부_idx = 당기감사법인_변동_여부_idx.stack(dropna=False).reset_index()
당기감사법인_변동_여부_idx.columns = ['기업명', '년도', '당기감사법인변동여부']

감사의견_idx = data[['기업명', '년도', '감사의견']]

In [56]:
columns = [매출채권회전율_변동_idx, 재고자산회전율_변동_idx, 대손충당금율_변동_idx, 유동비율_idx, 유동비율_변동_idx, 부채비율_idx, 부채비율_변동_idx, 영업활동현금흐름이자보상비율_idx,
           금융비용_매출액비율_idx, 신용평점_idx, 자기자본순이익률_idx, 자기자본순이익률_변동_idx, ROA_idx, ROA_변동_idx, 적자여부_idx, 매출액증가율_idx, 자산퀄리티_idx, 자산퀄리티_변동_idx, 
           감가상각율_변동_idx, 판매비와관리비비율_idx, 판매비와관리비비율_변동_idx, 총발생액비율_idx, 총발생액비율_변동_idx, 매영차_idx, 총종차_idx, 매종차_idx, 오류수정및회계정책변경, 
           자산총계_idx, 상장구분_idx, BIG4여부_idx, 당기감사법인_변동_여부_idx, 감사의견_idx]

In [57]:
from functools import reduce

In [58]:
Data_merged = reduce(lambda left, right: pd.merge(left, right, how='inner'), columns) #통합하기
Data_merged = Data_merged[~(Data_merged.년도 == '2010')] #2011년도의 변동 데이터 계산('당기감사법인변동여부' 등)를 위해 필요했던 2010 데이터 삭제
Data_merged

,기업명,년도,매출채권회전율변동,재고자산회전율변동,대손충당금율변동,유동비율,유동비율변동,부채비율,부채비율변동,영업활동현금흐름이자보상비율,...,총종차,매종차,오류수정및회계정책변경여부,자산총계,비상장,상장,상장관리,BIG4여부,당기감사법인변동여부,감사의견
1,(유)가든주류244534,2011,0.345433,-0.102333,NaN,121.20,1.396796,305.10,1.137245,NaN,...,NaN,NaN,0,23.755892,1,0,0,0,0,NaN
2,(유)가든주류244534,2012,-0.372498,-0.041911,NaN,190.48,1.571617,218.57,0.716388,NaN,...,NaN,NaN,0,23.656948,1,0,0,0,0,NaN
3,(유)가든주류244534,2013,-0.217753,0.363080,0.827051,203.10,1.066254,186.48,0.853182,NaN,...,NaN,NaN,0,23.763009,1,0,0,0,0,NaN
4,(유)가든주류244534,2014,-0.145390,0.345956,0.916581,246.89,1.215608,152.21,0.816227,NaN,...,NaN,NaN,0,23.774551,1,0,0,0,0,NaN
5,(유)가든주류244534,2015,0.275934,0.228422,1.809184,225.38,0.912876,139.19,0.914460,NaN,...,NaN,NaN,0,23.862884,1,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318687,힐티코리아(주)389471,2016,-0.005277,-0.003170,0.969011,292.61,1.207585,46.20,0.775688,NaN,...,9.26,6.80,0,24.257440,1,0,0,1,0,적정
318688,힐티코리아(주)389471,2017,0.025199,-0.007949,0.812777,275.74,0.942346,54.51,1.179870,NaN,...,0.74,1.49,0,24.394284,1,0,0,1,0,적정
318689,힐티코리아(주)389471,2018,-0.027167,-0.088141,0.865167,297.24,1.077972,45.13,0.827921,NaN,...,6.72,6.77,0,24.426058,1,0,0,1,0,적정
318690,힐티코리아(주)389471,2019,0.013298,0.079086,1.046623,296.69,0.998150,54.34,1.204077,45.40,...,14.52,5.54,0,24.568740,1,0,0,1,0,적정
318691,힐티코리아(주)389471,2020,-0.001312,-0.024430,0.985369,226.73,0.764198,78.89,1.451785,32.93,...,17.49,3.84,0,24.757369,1,0,0,1,0,적정

In [59]:
Data_merged.감사의견.value_counts()

적정                    173745
감사미필                   13643
한정(감사범위제한)              6467
의견거절(감사범위제한)            1463
한정(기업회계기준위배)             745
의견거절(계속기업존속의문시)          697
의견거절                     374
한정                       133
부적정(계속기업존속의문시)            72
부적정(기업회계기준위배-회계처리)        26
부적정                        6
의견거절(독립성결여)                2
Name: 감사의견, dtype: int64

In [60]:
Data = Data_merged.copy()
Data_null = Data.set_index('감사의견').drop('감사미필').reset_index() #감사미필: 감사를 행하지 못한 경우, 따라서 데이터에서 제외
Data_null = Data_null[~Data_null.감사의견.isnull()] #감사의견 중 NaN값 제외
Data_null

,감사의견,기업명,년도,매출채권회전율변동,재고자산회전율변동,대손충당금율변동,유동비율,유동비율변동,부채비율,부채비율변동,...,매영차,총종차,매종차,오류수정및회계정책변경여부,자산총계,비상장,상장,상장관리,BIG4여부,당기감사법인변동여부
8,한정(감사범위제한),(유)가든주류244534,2020,-0.216645,-0.009839,0.000000,128.39,0.528223,361.81,2.028765,...,1.407754,11.12,22.93,0,24.217976,1,0,0,0,1
16,한정(감사범위제한),(유)건향개발I57907,2018,-0.706949,2.679380,NaN,110.07,0.718051,391.98,2.635691,...,2.676345,191.56,16.66,0,23.759990,1,0,0,0,1
17,적정,(유)건향개발I57907,2019,-0.469072,1.632373,NaN,128.86,1.170710,197.85,0.504745,...,5.297512,7.55,5.38,0,23.878219,1,0,0,0,0
18,적정,(유)건향개발I57907,2020,-0.011327,0.079725,NaN,133.70,1.037560,136.43,0.689563,...,4.273336,145.59,143.79,0,23.691609,1,0,0,0,1
37,한정(감사범위제한),(유)그랜드유니버셜트레이딩코리아I83725,2020,0.243678,-0.057018,0.773256,86.43,1.296969,NaN,NaN,...,8.801749,28.85,29.82,0,24.211416,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276072,적정,힐티코리아(주)389471,2016,-0.005277,-0.003170,0.969011,292.61,1.207585,46.20,0.775688,...,2.789865,9.26,6.80,0,24.257440,1,0,0,1,0
276073,적정,힐티코리아(주)389471,2017,0.025199,-0.007949,0.812777,275.74,0.942346,54.51,1.179870,...,2.610911,0.74,1.49,0,24.394284,1,0,0,1,0
276074,적정,힐티코리아(주)389471,2018,-0.027167,-0.088141,0.865167,297.24,1.077972,45.13,0.827921,...,3.820559,6.72,6.77,0,24.426058,1,0,0,1,0
276075,적정,힐티코리아(주)389471,2019,0.013298,0.079086,1.046623,296.69,0.998150,54.34,1.204077,...,3.746663,14.52,5.54,0,24.568740,1,0,0,1,0
276076,적정,힐티코리아(주)389471,2020,-0.001312,-0.024430,0.985369,226.73,0.764198,78.89,1.451785,...,3.978038,17.49,3.84,0,24.757369,1,0,0,1,0

#### 비적정여부(AO)

In [61]:
Data_null['비적정여부'] = Data_null.감사의견.apply(lambda x: 0 if x == '적정' else 1) #'적정'은 0, '비적정'은 1
Data_null.drop('감사의견', axis=1, inplace = True) #필요없어진 '감사의견' 열 삭제
Data_null = Data_null.reset_index() #인덱스 재배열
Data_null.pop('index')
Data = Data_null.copy()
Data

,기업명,년도,매출채권회전율변동,재고자산회전율변동,대손충당금율변동,유동비율,유동비율변동,부채비율,부채비율변동,영업활동현금흐름이자보상비율,...,총종차,매종차,오류수정및회계정책변경여부,자산총계,비상장,상장,상장관리,BIG4여부,당기감사법인변동여부,비적정여부
0,(유)가든주류244534,2020,-0.216645,-0.009839,0.000000,128.39,0.528223,361.81,2.028765,-0.72,...,11.12,22.93,0,24.217976,1,0,0,0,1,1
1,(유)건향개발I57907,2018,-0.706949,2.679380,NaN,110.07,0.718051,391.98,2.635691,84.83,...,191.56,16.66,0,23.759990,1,0,0,0,1,1
2,(유)건향개발I57907,2019,-0.469072,1.632373,NaN,128.86,1.170710,197.85,0.504745,-7.55,...,7.55,5.38,0,23.878219,1,0,0,0,0,0
3,(유)건향개발I57907,2020,-0.011327,0.079725,NaN,133.70,1.037560,136.43,0.689563,65.62,...,145.59,143.79,0,23.691609,1,0,0,0,1,0
4,(유)그랜드유니버셜트레이딩코리아I83725,2020,0.243678,-0.057018,0.773256,86.43,1.296969,NaN,NaN,NaN,...,28.85,29.82,0,24.211416,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183725,힐티코리아(주)389471,2016,-0.005277,-0.003170,0.969011,292.61,1.207585,46.20,0.775688,NaN,...,9.26,6.80,0,24.257440,1,0,0,1,0,0
183726,힐티코리아(주)389471,2017,0.025199,-0.007949,0.812777,275.74,0.942346,54.51,1.179870,NaN,...,0.74,1.49,0,24.394284,1,0,0,1,0,0
183727,힐티코리아(주)389471,2018,-0.027167,-0.088141,0.865167,297.24,1.077972,45.13,0.827921,NaN,...,6.72,6.77,0,24.426058,1,0,0,1,0,0
183728,힐티코리아(주)389471,2019,0.013298,0.079086,1.046623,296.69,0.998150,54.34,1.204077,45.40,...,14.52,5.54,0,24.568740,1,0,0,1,0,0
183729,힐티코리아(주)389471,2020,-0.001312,-0.024430,0.985369,226.73,0.764198,78.89,1.451785,32.93,...,17.49,3.84,0,24.757369,1,0,0,1,0,0

## 4. Imputation Technique: MissForest

##### 명목형(binary) 변수들을 제외한 변수의 결측치 처리

#### 1) 34개 지표 결측치 처리

In [62]:
import sys
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base #최신버전의 sklearn에서는 명칭이 바뀌어 missforest 사용시 error 발생
from missingpy import MissForest

In [63]:
Data_34 = Data[['매출채권회전율변동', '재고자산회전율변동', '대손충당금율변동', '유동비율', '유동비율변동', '부채비율',
        '부채비율변동', '영업활동현금흐름이자보상비율', '금융비용_매출액비율', '신용평점', '자기자본순이익률',
        '자기자본순이익률변동', 'ROA', 'ROA변동', '적자여부', '매출액증가율', '자산퀄리티', '자산퀄리티변동', 
        '감가상각율변동', '판매비와관리비비율', '판매비와관리비비율변동', '총발생액비율', '총발생액비율변동', 
        '매영차', '총종차', '매종차', '오류수정및회계정책변경여부', '자산총계', '비상장', '상장', '상장관리', 
        'BIG4여부', '당기감사법인변동여부', '비적정여부']]

In [64]:
Columns_34 = Data_34.columns.tolist()
binary_Columns_34 = ['적자여부', '오류수정및회계정책변경여부', '비상장', '상장', '상장관리', 'BIG4여부', '당기감사법인변동여부'] #binary 변수 제외
category_variable_34 = [idx for idx, col in enumerate(Columns_34) if col in binary_Columns_34] #index에 binary 변수가 할당될 경우 다음 열의 변수로 넘어간다

In [65]:
missforest = MissForest(max_iter = 10, verbose = True, n_jobs  = -1 , max_depth=5)
Data_34_missforest = missforest.fit_transform(Data_34, cat_vars= category_variable_34)

/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.0s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.3s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.9s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.0s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.3s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.3s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.4s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   14.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   11.5s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.0s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.2s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.8s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   11.5s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.1s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   11.9s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   11.5s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.5s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   11.9s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   10.1s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    8.7s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    8.5s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    8.4s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/missingpy/missforest.py:406: RuntimeWarning: invalid value encountered in long_scalars
  gamma_newcat = np.sum(
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.

Iteration: 0

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.2s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.8s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.8s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   14.5s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.7s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   14.2s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.8s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.8s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   14.4s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.3s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.3s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   13.5s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.5s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.2s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   11.9s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   11.4s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   11.6s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   11.4s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    9.9s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    8.4s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    8.4s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:387: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    2.5s

Iteration: 1

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    8.3s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 100 out of 100 | elapsed:    0.0s finished
/home/image/.local/lib/python3.8/site-packages/missingpy/missforest.py:406: RuntimeWarning: invalid value encountered in long_scalars
  gamma_newcat = np.sum(

In [66]:
Data_missforest = pd.DataFrame(Data_34_missforest, columns = Columns_34)
Data_missforest

,매출채권회전율변동,재고자산회전율변동,대손충당금율변동,유동비율,유동비율변동,부채비율,부채비율변동,영업활동현금흐름이자보상비율,금융비용_매출액비율,신용평점,...,총종차,매종차,오류수정및회계정책변경여부,자산총계,비상장,상장,상장관리,BIG4여부,당기감사법인변동여부,비적정여부
0,-0.216645,-0.009839,0.000000,128.39,0.528223,361.81000,2.028765,-0.720000,1.08000,6.0,...,11.12,22.93,0.0,24.217976,1.0,0.0,0.0,0.0,1.0,1.0
1,-0.706949,2.679380,3.455094,110.07,0.718051,391.98000,2.635691,84.830000,0.06000,6.0,...,191.56,16.66,0.0,23.759990,1.0,0.0,0.0,0.0,1.0,1.0
2,-0.469072,1.632373,3.455094,128.86,1.170710,197.85000,0.504745,-7.550000,0.10000,5.0,...,7.55,5.38,0.0,23.878219,1.0,0.0,0.0,0.0,0.0,0.0
3,-0.011327,0.079725,3.455094,133.70,1.037560,136.43000,0.689563,65.620000,0.13000,4.0,...,145.59,143.79,0.0,23.691609,1.0,0.0,0.0,0.0,1.0,0.0
4,0.243678,-0.057018,0.773256,86.43,1.296969,5794.77366,1.933965,14990.272230,17.26348,9.0,...,28.85,29.82,0.0,24.211416,1.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183725,-0.005277,-0.003170,0.969011,292.61,1.207585,46.20000,0.775688,33913.090387,17.26348,4.0,...,9.26,6.80,0.0,24.257440,1.0,0.0,0.0,1.0,0.0,0.0
183726,0.025199,-0.007949,0.812777,275.74,0.942346,54.51000,1.179870,37339.697905,17.26348,5.0,...,0.74,1.49,0.0,24.394284,1.0,0.0,0.0,1.0,0.0,0.0
183727,-0.027167,-0.088141,0.865167,297.24,1.077972,45.13000,0.827921,116338.565091,17.26348,3.0,...,6.72,6.77,0.0,24.426058,1.0,0.0,0.0,1.0,0.0,0.0
183728,0.013298,0.079086,1.046623,296.69,0.998150,54.34000,1.204077,45.400000,0.18000,3.0,...,14.52,5.54,0.0,24.568740,1.0,0.0,0.0,1.0,0.0,0.0
183729,-0.001312,-0.024430,0.985369,226.73,0.764198,78.89000,1.451785,32.930000,0.22000,3.0,...,17.49,3.84,0.0,24.757369,1.0,0.0,0.0,1.0,0.0,0.0

In [67]:
Data_missforest.to_excel('data/processed_data.xlsx')